<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Моя Улюблена Книга</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="wrapper">
    <div class="info">
        <div class="bookImageSpace">
            <img class="bookImage" src = "../img/book.jpg"
                 alt = "Фото книги"
                 title = "Фото книги"
                 width = "400" height = "250"
            />
        </div>
        <div class="bookTextInfo">
            <p style="font-weight: bold">Назва книги: <a href="https://uk.wikipedia.org/wiki/%D0%9C%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B8%D0%B9_%D0%BF%D1%80%D0%B8%D0%BD%D1%86"><i>Маленький принц</i></a></p>
            <br>
            <p style="font-weight: bold">Автор книги: <a href="https://uk.wikipedia.org/wiki/%D0%90%D0%BD%D1%82%D1%83%D0%B0%D0%BD_%D0%B4%D0%B5_%D0%A1%D0%B5%D0%BD%D1%82-%D0%95%D0%BA%D0%B7%D1%8E%D0%BF%D0%B5%D1%80%D1%96"><i>Антуан де Сент-Екзюпері</i></a></p>
            <br>
            <p style="font-weight: bold">Жанр: <strong style="font-weight: normal">Філософський роман, казка</strong></p><br>
            <p style="font-weight: bold">Рік написання: <strong style="font-weight: normal">1942</strong></p><br>
        </div>
        <div class="pib">
            <h4 id="p1">
                Моя улюблена книга
            </h4>
            <p>
                Іваніна Анастасія Віталіївна
            </p>
        </div>
    </div>
    <div class="shortInfo">
        <h4 id="p2">
            Короткий опис
        </h4>
        <div class="shortInfoText">
            <p style="padding-bottom: 30px; text-indent: 12px; padding-left: 15px">
                Пілот здійснює вимушену посадку в пустелі Сахара і зустрічає одного незвичайного та загадкового хлопчика — принца з іншої планети — астероїда B-612.
                Маленький принц розповідає про свої пригоди на Землі, говорить про дивовижну троянду, яку залишив на своїй малій планеті, про своє життя на астероїді,
                де є три вулкани. Він проводить час, приводячи до ладу свій астероїд, виполюючи баобаби, які намагаються глибоко прорости і заполонити всю планету.
                Маленький принц любить спостерігати заходи сонця, які на його малій планеті можна побачити скільки завгодно разів на день.
                Одного дня Маленький принц відлітає, щоб вивчити і пізнати інші місця Всесвіту. Відвідавши кілька інших астероїдів, він зустрічає багато дивних дорослих:
                короля, якому здається, що він править зірками; честолюбця, який хоче, щоб усі ним захоплювалися; п'яницю, який п'є, щоб забути, що йому соромно пити;
                ділову людину, яка постійно рахує зірки, бо думає, що володіє багатьма з них і хоче купити ще більше; ліхтарника, який, вірний своєму слову,
                кожну хвилину запалює і гасить ліхтар; географа, який записує в книгу розповіді мандрівників, але сам ніколи нікуди не подорожує.
                За порадою географа Маленький принц відвідує Землю, де, крім пілота, який зазнав аварії літака, зустрічає теж інших персонажів і,
                спілкуючись з ними, дізнається багато важливих речей.
            </p>
        </div>
    </div>
    <div class="info">
        <div class="authorImageSpace">
            <img class="authorImage" src="../img/avtor.jpg"
                 alt = "Author"
                 title = "Author"
                 width = "400" height = "250"
            />
        </div>
        <div class="authorTextInfo">
            <p style="font-weight: bold">Автор книги: <a href="https://uk.wikipedia.org/wiki/%D0%90%D0%BD%D1%82%D1%83%D0%B0%D0%BD_%D0%B4%D0%B5_%D0%A1%D0%B5%D0%BD%D1%82-%D0%95%D0%BA%D0%B7%D1%8E%D0%BF%D0%B5%D1%80%D1%96"><i>Антуан де Сент-Екзюпері</i></a></p>
            <br>
            <p>(нар. 29 червня 1900)</p><br>
            <p style="text-indent: 12px" >
                Антуа́н де Сент-Екзюпéрі (фр. Antoine Marie Roger de Saint-Exupéry, серед друзів відомий як Сент-Екзюпері;
                29 червня 1900, Ліон — 31 липня 1944, Тірренське море) — французький письменник і авіатор, граф. Автор твору «Маленький принц».
                У Нью-Йорку 1943 року вийшов друком «Маленький принц». Сент-Екзюпері власноруч ілюстрував його акварелями. Це єдине видання, яке побачило світ за життя автора.
            </p><br>
        </div>
        <div class="aboutAuthor">
            <h4 id="p3">
                Про Автора
            </h4>
        </div>
    </div>
    <div class="bookText">
        <h2 id="zmist">ЗМІСТ</h2>
        <p style="padding-left: 75px; font-size: 20px">Глава 1</p>
        <p style="padding-left: 75px; font-size: 20px">Глава 2</p>
        <p style="padding-left: 75px; font-size: 20px">Глава 3</p>
        <p style="padding-left: 75px; font-size: 20px">ГГлава 4</p>
        <p style="padding-left: 75px; font-size: 20px">Глава 5</p>
    </div>
</div>
</body>
</html>