<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мій Улюблений Фільм</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="wrapperFilm">
    <div class="info">
        <div class="filmImageSpace">
            <img class="filmImage" src = "../img/film.jpg"
                 alt = "Постер фільму"
                 title = "Постер фільму"
                 width = "300" height = "400"
            />
        </div>
        <div class="filmTextInfo" style="padding-left: 50px; padding-top: 25px">
            <p><strong style="font-weight: bold">Рік:</strong> 1997</p><br>
            <p><strong style="font-weight: bold">Країна:</strong> США</p><br>
            <p><strong style="font-weight: bold">Жанр:</strong> Драма, Мелодрами</p><br>
            <p><strong style="font-weight: bold">Режисер:</strong> Джеймс Камерон</p><br>
            <p><strong style="font-weight: bold">Актори:</strong> Леонардо ДіКапріо, Кейт Вінслет, Біллі Зейн, Кеті Бейтс, Френсіс Фішер, Глорія Стюарт, Білл Пекстон,
                Бернард Хілл, Девід Ворнер, Віктор Гарбер, Джеймс Камерон, Йоан Гріффіт</p><br>
            <p><strong style="font-weight: bold">Тривалість:</strong> 194 хв</p><br>
            <p><strong style="font-weight: bold">Вікові обмеження:</strong> 16+</p><br>
        </div>
    </div>
    <div class="filmPhotos" style="display: flex">
        <div class="chapterName" style="padding: 25px">
            <h4 id="p3">
                Фото
            </h4>
        </div>
        <div class="photos" style="padding: 25px">
            <img class="bookImage" src = "../img/film1.jpg"
                 width = "320" height = "240"
            />
            <img class="bookImage" src = "../img/film2.jpg"
                 width = "320" height = "240"
            />
            <img class="bookImage" src = "../img/film3.jpg"
                 width = "320" height = "240"
            />
            <img class="bookImage" src = "../img/film4.jpg"
                 width = "320" height = "240"
            />
            <img class="bookImage" src = "../img/film5.jpg"
                 width = "320" height = "240"
            />
            <img class="bookImage" src = "../img/film6.jpg"
                 width = "320" height = "240"
            />
        </div>
    </div>
    <div class="shortInfo" style="display: flex">
        <h4 id="p2" style="padding: 25px">
            Опис
        </h4>
        <div class="shortInfoText" style="padding: 25px">
            <p>
                <a href="https://uakino.club/filmi/genre_drama/43-titank.html">«ТИТАНІК»</a> — американський фільм катастрофа 1997 року заснований на реальних подіях найбільшого корабля в історії.
                У фільмі «Титанік» йшов з гавані в свій єдиний рейс корабель, зроблений з сучасним досягненням техніки. Його вважали непотоплюваним. Велетень взяв на свій борт аристократів зі слугами, багатіїв-промисловців і бідняків-іммігрантів. У кінокартині одночасно розвиваються дві паралельні любовні лінії. У першому класі і в третьому.

                Багата дівчина пливе на «Титаніку», щоб зустрітися з донькою і чоловіком, з яким вони не особливо щасливі в шлюбі.
                Чоловік її - хороша людина, але в недалекому минулому вона пережила першу любов. З цим чоловіком їх розвела доля.
                А тут на гігантському кораблі, вона зустріла своє перше кохання, і минулі почуття спалахнули з новою силою.
                Друга любовна лінія представлена ​​бідним хлопцем, який викрав квитки на «Титанік» у п'яного громадянина в підворітті.
                Його обраницею на кораблі стала добра красуня, вона беззастережно вірить в Бога. Молоді люди закохуються абсолютно щиро.
            </p>
        </div>
    </div>
</div>
</body>
</html>